<loading [isLoading]="this.loading"></loading>
<div class='centerali'>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
<h1 style='padding-left: 150px'>Angular Demo App!</h1>
<div style="width:670px">
        <div class="section">
             
                <div class="row m-valign-wrapper">
                  <div style='width:500px'>
                        <mz-tab [responsiveThreshold]="'true'">
                        <mz-tab-item [label]="'Login'">
                                <mz-input-container >
                                        <i mz-icon-mdi mz-input-prefix
                                          [icon]="'account'">
                                        </i>
                                        <input mz-input
                                          [label]="'User Name'"
                                          id="myusername"
                                          type="text"
                                          value="" #myusername>
                                      </mz-input-container>

                                      <mz-input-container >
                                            <i mz-icon-mdi mz-input-prefix
                                              [icon]="'eye-settings'">
                                            </i>
                                            <input mz-input
                                              [label]="'Password'"
                                              id="mypassword"
                                              type="password"
                                              value="" #mypassword>
                                          </mz-input-container>
                                            <div class="slideInLeft" style="float: right">
                                                <button mz-button class="red" (click)="login(myusername.value, mypassword.value)">Login</button> &nbsp; <button mz-button class="red" (click)="cancel()">Cancel</button>
                                            </div>
                        </mz-tab-item>
                        <mz-tab-item [label]="'Sign-up'"></mz-tab-item>
                      </mz-tab>
                  </div>
              
                  
                </div>
              </div>
  </div>
</div>