/* Base structure */

body {
    font-family: Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, -apple-system, system-ui, BlinkMacSystemFont;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #00162A;
    background-color: #f8f8f8;
}

body p {
    font-size: 0.875rem;
}


/* Typography */

h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h1,
.h1 {
    font-size: 1.5rem;
}

h2,
.h2 {
    font-size: 1.25rem;
}

h3,
.h3 {
    font-size: 1rem;
}

h4,
.h4 {
    font-size: 0.875rem;
}

h5,
.h5 {
    font-size: 0.8125rem;
}

h6,
.h6 {
    font-size: 0.75rem;
}

a {
    cursor: pointer;
}

#page-content-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
}

.clsSideMenuOverlay {
    position: fixed;
    background: #000;
    opacity: 0.4;
    z-index: 9999999;
    width: calc(100% - 315px);
    left: 315px;
    height: 100%;
}


/* Customize the bootstrap styles for realestate area is important */

.row {
    margin-right: -10px;
    margin-left: -10px;
}

[class*='col-'] {
    padding-right: 10px;
    padding-left: 10px;
}

.card [class*='col-'] {
    padding-right: 15px;
    padding-left: 15px;
}


/* Customize the bootstrap styles for realestate area is important */


/* Home Screen styles */

.clsHomepageWrapper,
.clsHomepageWrapper .clsHomepageContainer {
    margin: 0;
    padding: 0px;
    width: 100%;
}

.clsHomepageContainer .card {
    border: none;
}


/* Home Screen styles */


/* Header */

header {
    height: 60px;
}

header h1 {
    border: none;
}

header .navbar-brand,
header .navbar-brand:hover {
    font-size: 1.25rem;
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0.5rem;
}

header .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}

header .navbar {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 60px;
    background-color: #0054a0;
    padding: 0 20px;
    z-index: 1031;
}

header .clsMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: row;
    flex-direction: row;
}

header .clsMenu i {
    padding-right: 20px;
}

header .clsMenu i:before {
    top: 0px;
}

.clsNavRightSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: calc( 100% - 0px);
}

.clslogo-container {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
}

.clslogo-container i {
    font-size: 36px;
    padding-right: 20px;
}

.clslogo-container .apc-icon-anadark-oil-derrick-logo:before {
    top: 3px;
    position: relative;
}

.clslogo-text {
    font-size: 24px;
}

.navbar-text {
    font-family: roboto;
    font-size: 1rem;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    color: #4f697a;
    line-height: 33px;
    display: inline-block;
    padding: 0 10px;
    background: #f3f8ff;
    border-radius: 23px;
    margin: 6px 0px;
}

apc-avatar {
    width: calc( 100% - 225px);
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.avatar {
    border-radius: 50%;
    height: 40px;
    overflow: hidden;
    width: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -o-object-fit: cover;
    object-fit: cover;
}

.name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-family: 'roboto';
    font-size: 14px;
    padding-left: 20px;
    white-space: nowrap;
}

.avatar-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    color: #ffffff;
    cursor: pointer;
    font-size: 22px;
    min-width: 44px;
    position: relative;
    transition: color 0.2s ease-in-out
}

apc-avatar .btn-link,
apc-avatar .btn-link:hover {
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    padding: 0;
    border-radius: 0;
    height: auto;
}

apc-avatar .btn-link.focus,
apc-avatar .btn-link:focus {
    box-shadow: transparent;
    -webkit-box-shadow: transparent;
}

apc-avatar .dropleft .dropdown-toggle::before {
    border: none;
}

apc-avatar .dropdown-menu.show {
    display: block;
    top: 43px;
    z-index: 1031;
    float: right;
    position: absolute;
    left: auto;
    right: -7px;
}

apc-avatar ul.dropdown-menu.show:before {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.6em solid transparent;
    border-right: 0.6em solid;
    border-bottom: 0.6em solid transparent;
    position: absolute;
    top: -14px;
    right: 8px;
    transform: rotate(90deg);
    color: #fff;
}

apc-avatar .dropdown-menu {
    border: none;
    border-radius: 0.25rem;
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.68);
}

apc-avatar .dropdown-item {
    padding: 0.25rem 0.9rem;
    color: #ffffff;
    background-color: #0054a0;
    min-width: auto;
    max-width: 275px;
}

apc-avatar .dropdown-item.active,
apc-avatar .dropdown-item:active {
    background-color: #0054a0;
}

apc-avatar .dropdown-item:hover,
apc-avatar .dropdown-item:focus {
    background-color: #0054a0;
    color: #ffffff;
}

apc-avatar .dropdown-item a.avatar-container {
    width: 100%;
}

apc-avatar .dropdown-item .name {
    width: calc(100% - 40px);
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 5px;
    text-align: center;
}

.sidebarBeforeToggled,
.sidebarBeforeToggled .clsBreadCrumb {
    margin-left: 0px!important;
    width: calc(100% - 0px)!important;
    transition: width .2s ease-in-out;
}

.sidebarAfterToggled,
.clsFooter {
    margin-left: 68px;
    width: calc(100% - 68px);
}

.isPinSwitchOff,
.isPinSwitchOff .clsBreadCrumb,
.clsFooter.isPinSwitchOff {
    margin-left: 315px!important;
    width: calc(100% - 315px)!important;
}

.pinSwitchOff {
    width: 315px!important;
}

.slideInLeftFooter {
    width: auto;
}


/* Footer */

footer {
    height: 40px;
    background-color: #f8f8f8;
    border-top: 1px solid #cacaca;
    -webkit-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.28);
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.28);
}

footer.navbar {
    border-top: 1px solid #cacaca;
}

footer span {
    color: #00162A;
    line-height: 15px;
    font-size: 0.8125rem;
    text-align: center;
    width: 100%;
}


/* Common Styles */

input[type="text"],
input[type="number"],
input[type="datetime-local"] {
    padding: .3rem;
    line-height: 1;
    font-family: "Roboto";
    font-size: 0.75rem;
    color: #595959;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 3px;
    display: inline-block;
    letter-spacing: -0.2px;
    height: 30px;
}

input[type="text"].form-control:focus,
input[type="number"].form-control:focus,
input[type="datetime-local"].form-control:focus {
    color: #00162A;
    background-color: #fff;
    border-color: #006ED2;
    outline: 0;
    box-shadow: 0 0 0 0 transparent;
}

input[type="text"].form-control:disabled,
input[type="text"] .form-control[readonly],
input[type="number"].form-control:disabled,
input[type="number"] .form-control[readonly],
input[type="datetime-local"].form-control:disabled,
input[type="datetime-local"] .form-control[readonly] .form-control:disabled,
.form-control[readonly] {
    background-color: #f7f7f7;
    border-color: #EFEFEF;
    opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #f7f7f7;
    opacity: 1;
    border: 1px solid #EFEFEF;
}

.btn,
.btn-sm {
    padding: 0.3rem .5rem;
    font-family: roboto;
    font-size: 0.875rem;
    border-radius: .2rem;
    height: 30px;
    border: 0px solid transparent;
    cursor: pointer;
}

.btn-lg {
    padding: 0.57rem 1.25rem;
    font-family: roboto;
    font-size: 1rem;
    border-radius: .3rem;
    height: 40px;
    border: 0px solid transparent;
}

.btn-primary {
    color: #fff;
    background-color: #006ED2;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #006ED2;
    border-color: transparent;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0054A0;
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #BFDAF3;
    opacity: 1;
}

.btn-default {
    color: #939597;
    background-color: #E3E3E3;
}

.btn-default:hover {
    color: #E3E3E3;
    background-color: #939597;
}

.btn-default.disabled,
.btn-default:disabled {
    color: #B9BFC4;
    background-color: #F7F7F7;
    opacity: 1;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show>.btn-danger.dropdown-toggle:focus .btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus .btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0 rgba(2, 117, 216, .25);
    box-shadow: 0 0 0 0 rgba(2, 117, 216, .25);
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #006ED2;
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25);
}

label {
    margin-bottom: 0;
    font-family: "RobotoMedium";
    font-size: 0.8125rem;
    color: #00162A;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #cbd7e9;
}

select.form-control option,
select.form-control optgroup {
    font-size: 0.8125rem;
}

select.form-control {
    font-family: 'Roboto';
    font-size: 0.8125rem;
    color: #595959;
    padding: 0rem .2rem;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(1.8rem + 2px);
}

input[type=checkbox],
input[type=radio] {
    width: 0.9375rem;
    height: 0.9375rem;
}

.form-check-label {
    font-size: 0.875rem;
    font-family: robotomedium;
}

.clsResimExportContainer .form-check-label {
    font-size: 0.8125rem;
}


/* Common Styles */


/* Card */

.card {
    background-color: #fff;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.28);
}

_:-ms-fullscreen, .clsResimExportContainer .card{
    box-shadow: 0 0px 9px rgba(0, 0, 0, 0.28); 
}

.card-header:first-child{
    border-radius: 0px;
}

.card-header {
    padding: 0rem 0.7rem;
    min-height: 42px;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0px;
}

.card-header h5 {
    margin-bottom: 0px;
    font-size: 1rem;
    font-family: robotomedium;
    line-height: 42px;
    color: #00162A;
}

.card-header h5>span {
    font-size: 0.875rem;
}

.card-block {
    padding: 0px;
    background: #fff;
    position: relative;
}

ipso-chart .card-block {
    min-height: 408px;
    height: 100%;
}

.clsOverflowYauto {
    overflow-y: auto;
}

.custom-gutters {
    margin-right: 0;
    margin-left: 0;
}

.custom-gutters>.col,
.custom-gutters>[class*="col-"] {
    padding-right: 5px;
    padding-left: 0;
    padding-top: 5px;
}


/* Card */


/* Time Filter start */

.clsTimeFilterPanel {
    background: #fff;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.28);
}


/* Time Filter End */


/* Override Nav Tab Styles */

.nav-tabs {
    border: 1px solid #e3eaf0;
    background-color: #f7f7f9;
    padding: 4px 4px 0;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.nav-link {
    display: block;
    padding: .4em 0.5em;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-right-radius: .2rem;
    border-top-left-radius: .2rem;
    font-size: 0.8125rem;
    font-weight: 500;
    color: rgba(70, 74, 76, 0.71);
    padding-top: 7px;
    padding-bottom: 7px;
}

.nav-tabs .nav-item {
    margin-right: 4px;
}

.nav-tabs .nav-item a {
    color: #006ED2;
    font-size: 0.875rem;
    font-family: robotomedium;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
    color: #00162A;
    background-color: #fff;
    border-color: #ddd #ddd #fff;
}

.tab-content {
    background-color: #fff;
    border: 1px solid #e3eaf0;
    border-top: 0px;
    padding: 5px;
}


/* Override Nav Tab Styles */

.alert {
    font-size: 0.8125rem;
}

.clsSchematicPDFUrl {
    width: 250px;
}


/* Trendline Styles Start */

.clsTrendlineAccordion .card-header {
    min-height: 36px;
}

.clsTrendlineAccordion .card-body {
    padding: 0.3rem 1rem;
}

.clsTrendlineAccordion .card-header a {
    width: 100%;
    display: inline-block;
    line-height: 36px;
    color: #006ed2;
    font-size: 0.875rem;
    text-decoration: none;
    font-weight: 600;
    font-family: 'segoe ui';
}

.clsTrendlineAccordion .card-header a::after,
.clsTrendlineAccordion .card-header.active a::after {
    position: absolute;
    font-size: 1.5rem;
}

.clsTrendlineAccordion .card-header a::after {
    content: "\025BE";
}

.clsTrendlineAccordion .card-header.active a::after {
    content: "\025B4";
}


/* Trendline Styles Ends */


/* Resim Export start */

.clsTimeDateWrapper .clsTimeFrameDropdown,
.clsResimExportCheckbox {
    width: auto;
    padding: 8px 3px 8px;
    margin-left: 15px;
    margin-right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.clsTimeDateWrapper .clsResimExportCheckbox,
.clsTimeDateWrapper .clsResimExportCheckbox label.custom-checkbox {
    width: auto!important;
    padding-top: 9px;
}

_:-ms-fullscreen,
.clsTimeDateWrapper .clsResimExportCheckbox,
.clsTimeDateWrapper .clsResimExportCheckbox label.custom-checkbox {
    bottom: 9px;
    padding-top: 0px;
}


/* IE11 */

.clsResimExportContainer .custom-control-description {
    line-height: 2;
    font-size: 0.8125rem;
    font-family: 'Roboto';
}

.clsDynamicSvgContainer{
    width:100%; 
    overflow-x:auto;
    text-align:center;
}

/* Resim Export End */


/* Shut-In & Choke & Ramp Analysis form styles Start */

.clsAlignCenter {
    margin: 5px 0;
}

.clsBoxWrapperSection {
    background: #fff;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.28);
    padding: 5px 10px;
}

.clsFormSection {
    padding: 20px 10px;
}

.clsFormSection hr {
    border-top: 1px solid #e7e7e7;
    margin-top: 5px;
    margin-bottom: 10px;
}

.clsFormSectionTitle {
    font-family: "RobotoMedium";
    font-size: 0.875rem;
}

.clsFormSection .dropdown-toggle::after {
    color: #000;
}

.clsFormSection .form-group {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.clsFormSection .form-group label {
    font-family: "RobotoMedium";
    font-size: 0.8125rem;
    color: #00162A;
    margin-bottom: 0;
    width: 115px;
    justify-content: left;
    line-height: 30px;
}

.clsFormSection .form-group label+input,
.clsFormSection .form-group label+select,
.clsFormSection .form-group textarea.form-control {
    width: calc(100% - 115px);
}

.clsFormSection .form-group textarea.form-control,
.form-group textarea.form-control {
    display: inline-block;
    padding: .2rem;
    line-height: 1.25;
    font-family: "roboto";
    font-size: 0.8125rem;
    color: #595959;
}

.clsUploadSaphirForm .form-group label {
    width: 124px;
    font-size: 0.8125rem;
    line-height: 2;
}

.clsUploadSaphirForm .form-group label+select {
    width: calc(100% - 124px);
}

.clsUploadSaphirForm .form-group {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

input.ng-invalid,
input.ng-invalid:focus {
    border-color: #CA3A05!important;
    background-color: #F1CDC0;
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.25);
    color: #00162A;
}

label.clsEventCount {
    font-family: 'Robotobold';
    font-size: 0.8125rem;
    color: #00162A;
    line-height: 35px;
    margin-left: .5rem;
}


/* Shut-In & Choke & Ramp Analysis form styles End */


/* Dialog box custom styles */

.clsDialogInitialMode {
    width: 100%;
    height: 35px;
    overflow: hidden;
}

.clsDialogExpandMode {
    width: 100%;
    height: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.clsSeeMore {
    display: block;
    width: 100px;
    margin: 4px auto;
    padding: 2px 2px 2px 8px;
    color: #525252;
}

.clsSeeMore span {
    line-height: 1.2;
    padding-top: 3px;
    vertical-align: top;
    display: inline-block;
}


/* Dialog box custom styles */


/* Primeng custom styles */

apc-datetime,
p-calendar,
.ui-calendar {
    width: 100%;
}

* .ui-calendar.ui-calendar-w-btn input {
    width: calc(100% - 20px);
    height: 30px;
}

* .ui-calendar {
    line-height: 1.2;
}

* .ui-calendar button,
.ui-calendar .ui-calendar-button {
    width: 1.6em;
}

* .ui-datepicker.ui-widget .ui-datepicker-calendar td a {
    padding: 3px;
}

* .ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active {
    background-color: #006ed2;
    color: #ffffff;
}

* .ui-widget-header .ui-button,
* .ui-widget-content .ui-button,
* .ui-widget.ui-button,
* .ui-button {
    border: 1px solid #006ed2;
    background: #006ed2;
}

* .ui-widget-header .ui-button:enabled:hover,
* .ui-widget-header .ui-button:focus,
* .ui-widget-content .ui-button:enabled:hover,
* .ui-widget-content .ui-button:focus,
* .ui-widget.ui-button:enabled:hover,
* .ui-widget.ui-button:focus,
* .ui-button:enabled:hover,
* .ui-button:focus {
    background: #0054A0;
}

* .ui-datepicker {
    width: 15em;
}

* .ui-datepicker .ui-datepicker-title select {
    font-size: 0.8em;
    border: 1px solid #ccc;
    border-radius: 2px;
}

* .ui-datepicker select.ui-datepicker-month {
    width: 8em;
}

* .ui-datepicker select.ui-datepicker-year {
    width: 6em;
}

* .ui-datepicker .ui-datepicker-title {
    margin: 0 1.3em;
}

* .ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    width: 1.4em;
}

.ui-datepicker.ui-widget {
    z-index: 1050!important;
}

ipso-chart {
    width: 100%;
}

ipso-grid {
    width: 100%;
}

BaseHead {
    width: 100%;
}

apc-grid {
    margin-top: .25rem;
}

* .ui-timepicker {
    padding: .0em 0;
}

.card .clsFormSection [class*='col-'] {
    padding-right: 10px;
    padding-left: 10px;
}

* .clsSettingsPopup .ui-calendar.ui-calendar-w-btn input {
    width: calc(100% - 25px)!important;
}

.ui-inputswitch-on {
    background: #006ED2 !important;
}

.ui-inputswitch {
    height: 1.9em;
}

.ui-inputswitch .ui-inputswitch-on span,
.ui-inputswitch .ui-inputswitch-off span {
    line-height: 1.8;
    font-family: "Roboto";
    font-weight: 500;
}

p-colorpicker .ui-colorpicker input.ui-colorpicker-preview {
    border-radius: 3px 0 0 3px;
}

chart-settings .clsLegendContainer .ui-inputswitch {
    height: 1.7em;
}

chart-settings .clsLegendContainer .ui-inputswitch .ui-inputswitch-on span,
chart-settings .clsLegendContainer .ui-inputswitch .ui-inputswitch-off span {
    font-size: 0.8125rem;
}


/* Primeng custom styles */


/* width Classes */

.clsWidth80 {
    width: 80px;
}

.clsWidth90 {
    width: 90px;
}

.clsWidth95 {
    width: 95px;
}

.clsWidth100 {
    width: 100px;
}

.clsWidth120 {
    width: 120px;
}

.clsWidth150 {
    width: 150px;
}

.clsWidth175 {
    width: 175px;
}

.clsWidth200 {
    width: 200px;
}

.clsWidth220 {
    width: 220px;
}

.clsWidth250 {
    width: 250px;
}

.clsWidth300 {
    width: 300px;
}


/* width classes */

.toast-top-right {
    top: 70px;
    right: 25px;
}

.toast-top-right#toast-container>div {
    font-family: Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 0.8125rem;
    opacity: 0.9;
}

#toast-container button.toast-close-button,
.toast-top-right#toast-container > div.toast-close-button {
    position: absolute;
    right: 0rem;
} 


/* Loader Spinner */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* Absolute Center Page Loader Spinner using fixed style */

.clsLoader {
    position: fixed;
    z-index: 1031;
    height: 2em;
    width: 2em;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.clsLoader:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(169, 169, 169, 0.35);
}

.clsLoader img {
    position: absolute;
    top: 3px;
    left: 3px;
}

.loading {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: 0.2rem solid #0275d8;
    border-top-color: white;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}


/* Absolute Center Page Loader Spinner using fixed style Ends */


/* Loader Spinner Ends */


/* Table styles */

.table {
    margin-bottom: 0px;
}

.table .thead-default th,
.table td {
    padding: 0.5rem;
    font-size: 0.8125rem;
    font-family: robotomedium;
    font-weight: 400;
    vertical-align: middle;
}

.table .thead-default th {
    color: #ffffff!important;
    background-color: #002B52;
}

.table td {
    color: #00162A;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #E1E2E3;
}

.table.table-bordered th {
    border: 1px solid #002B52;
    border-right: 1px solid #3b5e7b;
    border-bottom: 1px solid transparent;
}

.table.table-bordered td {
    border: 1px solid #B9BFC4;
}


/* Table Styles */


/* ag-Grid Override Styles */
.ag-fresh .ag-row-group {
    font-weight: bold;
}

.ag-fresh,
.ag-fresh .ag-menu {
    font-family: "Roboto";
    font-size: 0.8125rem;
    color: #00162A;
    z-index: 1;
}

.ag-fresh .ag-header {
    color: #00162A;
    border-bottom: 1px solid #bdbdbd;
    font-size: 0.8125rem;
    font-family: "RobotoBold";
}

.ag-fresh .ag-menu-option-active {
    background-color: #0069d9;
    color: #fff;
}

.ag-fresh .ag-root {
    border: 1px solid #dcdcdc;
}

.ag-fresh .ag-ltr .ag-header-group-cell,
.ag-fresh .ag-ltr .ag-header-cell {
    border-right: 1px solid #c5c5c5;
}

.ag-fresh .ag-header-group-cell-with-group {
    border-bottom: 1px solid #c5c5c5;
}

.ag-header-cell-label .ag-header-cell-text {
    text-overflow: ellipsis !important;
    white-space: normal !important;
}

.ag-fresh .ag-header {
    background: linear-gradient(to bottom, #ffffff 0%, #cecece 100%) !important;
}

.ag-fresh .ag-row {
    font-size: 0.8125rem;
    line-height: 19px;
    color: #00162A;
}

.ag-fresh .ag-row-odd {
    background-color: #EFEFEF;
}

.ag-fresh .ag-row-selected .highlight,
.ag-fresh .ag-row-selected {
    background-color: #A8DEFF !important;
}

.ag-fresh .ag-row-odd .highlight {
    background-color: #F7F790;
}

.ag-fresh .ag-row-even .highlight {
    background-color: #FAFAAA;
}

.ag-fresh .ag-row-selected .editable {
    background-color: powderblue !important;
}

.ag-fresh .ag-row-odd .editable {
    background-color: rgb(248, 220, 159);
}

.ag-fresh .ag-row-even .editable {
    background-color: rgb(248, 227, 180);
}

.ag-fresh input[type="number"],.ag-fresh input[type="text"] {
    padding: 0;
    height: 24px;
}

* .ag-fresh .ui-calendar.ui-calendar-w-btn input {
    height: 23px;
}

/* Fix for Ie11 browser */
_:-ms-fullscreen,
.ag-floating-filter-body input[type="text"].ag-filter-filter{
    height: 19px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding:0px 0.3rem;
}

tooltip-cell a{
    -webkit-appearance: unset!important;
}

Well-routing-optimization apc-grid input[type=checkbox] {
    top: 2px;
    left: 5px;
    margin-right: 5px;
    position: relative;
}

well-routing-opt-save-modal .dropdown-menu .dropdown-item{
    font-size: 0.8125rem;
}

/* ag-Grid Override Styles */


/* Custom Scrollbar styles */

.nav-scroll {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.nav-scroll::-webkit-scrollbar {
    width: 6px;
}

/* Track */

.nav-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 8px;
    border-radius: 8px;
}


/* Handle */

.nav-scroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: rgb(52, 58, 64);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.nav-scroll::-webkit-scrollbar-thumb:window-inactive {
    background: rgb(52, 58, 64);
}


/* Custom Scrollbar styles */

.text-red {
    color: red;
}

.text-green {
    color: green;
}


/* Highcahrt custom styles */

.highcharts-container,
.highcharts-root {
    width: 100%!important;
}
high-charts text.highcharts-axis-title tspan,
high-charts .highcharts-xaxis .highcharts-axis-title span,
high-charts .highcharts-xaxis-labels text tspan {
    color: #00162A;
    fill: #00162A;
}

high-charts .highcharts-legend text tspan {
    font-size: 0.8125rem;
    font-weight: 600;
    font-family: Robotobold;
    color: #00162A;
    fill: #00162A;
}

high-charts .highcharts-legend .highcharts-legend-item-hidden text tspan{
    color: #939597;
    fill: #939597;
}

/* Highcahrt custom styles */


/* Modal Custom Styles */

.modal-content {
    border: 0px solid rgba(0, 0, 0, .2);
    border: none;
    border-radius: 0px;
}

.modal-header,
.modal-footer {
    padding: 0.8125rem 0.9375rem;
    border-radius: 0px;
}

.modal-header {
    background-color: #0054A0;
}

.modal-header .close {
    color: #fff;
}

.modal-header h2 {
    font-size: 22px;
    color: #fff;
}

.modal-header.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.modal-header.alert-danger h2,
.modal-header.alert-danger .close {
    color: #721c24;
}

.modal-header.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.modal-header.alert-warning h2,
.modal-header.alert-warning .close {
    color: #856404;
}

.modal-body {
    font-size: 0.9rem;
}

.modal-content .form-check-label,
.modal-content .col-form-label {
    font-size: 0.8125rem;
}

.clsCustomExcelExportModal .modal-dialog {
    margin: 30px auto;
    max-width: 610px;
}

body>.clsCustomExcelExportModal .modal-dialog .clsTimeDateWrapper .clsBoxWrapper {
    width: 218px;
}

.clsCustomExcelExportModal .modal-dialog .clsTimeDateWrapper .clsTimeFrameDropdown {
    margin-left: 0px;
}

.clsCustomExcelExportModal .form-check {
    margin-right: 0.5rem;
    line-height: 2;
    font-family: "Roboto";
    font-size: 0.8125rem;
}

.clsSelectScenarioModal .table {
    width: 750px;
}

.clsSelectScenarioModal .table-responsive {
    height: 450px;
}

.clsSelectScenarioModal .table .form-check-label {
    font-size: 0.8125rem;
    color: #fff;
}

.clsSelectScenarioModal .table td {
    word-break: break-word;
}

.clsModalUserMessage{
    font-family: 'robotoMedium';   
}

.clsCardVHeight{
    height:calc(100vh - 120px);
}

.clsFlexVerticalCenter{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}

.clsFlexVerticalCenterItem{
    min-width:100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/* Modal Custom Dialog */


/* Sidebar for Mobile Start */

.clsMobileWrapper .sidebar li a.clsPinIcon {
    display: none!important;
}

.clsMobileWrapper .sidebar {
    width: auto!important;
}

.clsMobileWrapper .sidebar.sidebarMobileOpen {
    width: 315px!important;
    left: 0px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: left 0.2s ease-in-out, right 0.2s ease-in-out;
    transition: left 0.2s ease-in-out, right 0.2s ease-in-out;
    will-change: left, right, width;
    visibility: visible;
}

.clsMobileWrapper .sidebar.sidebarMobileClose {
    width: auto!important;
    left: -315px;
    -webkit-transition: left 0.2s ease-in-out, right 0.2s ease-in-out;
    transition: left 0.2s ease-in-out, right 0.2s ease-in-out;
    will-change: left, right, width;
}

.clsMobileWrapper .sidebarAfterToggled,
.clsMobileWrapper .clsFooter,
.clsMobileWrapper .sidebarAfterToggled .clsBreadCrumb {
    width: 100%!important;
    margin-left: 0px!important;
}

.clsMobileWrapper .navbar-wrap {
    padding-right: 20px;
}

.clsMobileWrapper .navbar-wrap .navbar-button {
    cursor: pointer;
    margin: 0;
    position: relative;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    width: 19px;
    height: 12px;
}

.clsMobileWrapper .navbar-wrap .navbar-button span {
    background: #ffffff;
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    width: 50%;
}

.clsMobileWrapper .navbar-wrap .navbar-button span:nth-child(1),
.clsMobileWrapper .navbar-wrap .navbar-button span:nth-child(2) {
    top: 0;
}

.clsMobileWrapper .navbar-wrap .navbar-button span:nth-child(3),
.clsMobileWrapper .navbar-wrap .navbar-button span:nth-child(4) {
    top: 5px;
}

.clsMobileWrapper .navbar-wrap .navbar-button span:nth-child(5),
.clsMobileWrapper .navbar-wrap .navbar-button span:nth-child(6) {
    top: 10px;
}

.clsMobileWrapper .navbar-wrap .navbar-button span:nth-child(odd) {
    left: 0;
}

.clsMobileWrapper .navbar-wrap .navbar-button span:nth-child(even) {
    left: 50%;
}

.clsMobileWrapper .navbar-wrap .navbar-button.open span:nth-child(1) {
    left: 1px;
    top: 1px;
}

.clsMobileWrapper .navbar-wrap .navbar-button.open span:nth-child(1),
.clsMobileWrapper .navbar-wrap .navbar-button.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.clsMobileWrapper .navbar-wrap .navbar-button.open span:nth-child(2) {
    left: calc(50% - 2px);
    top: 1px;
}

.clsMobileWrapper .navbar-wrap .navbar-button.open span:nth-child(2),
.clsMobileWrapper .navbar-wrap .navbar-button.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.clsMobileWrapper .navbar-wrap .navbar-button.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

.clsMobileWrapper .navbar-wrap .navbar-button.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

.clsMobileWrapper .navbar-wrap .navbar-button.open span:nth-child(5) {
    left: 1px;
    top: 8px;
}

.clsMobileWrapper .navbar-wrap .navbar-button.open span:nth-child(6) {
    left: calc(50% - 2px);
    top: 8px;
}


/* Sidebar for Mobile End */


/* Media queries Start */


/* Large devices (desktops, => 1440px) */

@media (min-width: 1440px) {}


/* Large devices (Desktop) */

@media (width: 1280px) {}


/* Medium devices (tablets - ipad Pro Landscape, equal 1366px) */


/* Large devices (desktops 1200px - 1260px ) */

@media (min-width: 1200px) and (max-width: 1260px) {

}


/* Small devices ( phones, less than 768px) */

@media (min-width: 375px) and (max-width: 768px) {}


/* iPhone6 & iPhone6 plus  */

@media (min-width: 375px) and (max-width: 736px) {
    header .navbar-brand img {
        width: 100px;
        height: 40px;
    }
    header .navbar-brand {
        padding-top: 0;
        padding-bottom: 0px;
        margin-right: 0.2rem;
    }
    * .ui-datepicker {
        left: 81px!important;
    }
    body.modal-open .ui-datepicker {
        left: initial!important;
    }
    .card-header {
        min-height: 36px;
        height: auto;
    }
    .card-header h5 {
        font-size: 0.875rem;
        line-height: 36px;
    }
    .clsRightFunctionIcons {
        line-height: 36px;
    }
    body>.clsCustomExcelExportModal .modal-dialog .clsTimeDateWrapper .clsBoxWrapper {
        width: 270px;
    }
    .clsCustomExcelExportModal .modal-dialog {
        max-width: 98%;
    }
    .clsSchematicPDFUrl {
        width: 200px;
    }
    apc-datetime {
        width: calc(100% - 73px);
    }
    p-calendar,
    .ui-calendar {
        width: 100%;
    }
}

@media (min-width: 350px) and (max-width: 600px) {
    span.avatar-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
    }
    .avatar-container span.name {
        width: calc(100% - 225px);
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }
}

@media (min-width: 375px) and (max-width: 430px) {
    header .navbar .clsUserName {
        max-width: 216px;
    }
    .navbar-text {
        padding: 0 7px;
    }
    .nav-tabs .nav-item {
        margin-right: 2px;
    }
    .breadcrumb {
        padding-bottom: 0.5rem!important;
    }
}

#env-notice {
    min-width: 550px;
    width: 500px;
    margin: 0 auto;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
}

.env-color-dev {
    padding: 0 !important;
}

.pipeline line {
    visibility: hidden
}

.pipeline.active line {
    visibility: visible!important;
}

ellipse.well.active {
    fill: #00bf00
}

ellipse.well.inactive {
    fill: #ff0000
}
label.clsTimeStamp{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: bold;
    color: #303d50;
    vertical-align: top;
}
div.clsTextRightAlign{
    text-align: right;
}


.card.clsForecastActualProd .clsRightFunctionIcons{
    line-height: inherit!important;
    position: absolute;
    right: 3px;
}
.card.clsForecastActualProd{
    border: 1px solid #ffffff73;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.41);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.41);
}
.card-block.clsForecastActualProd{
    border-radius: 0 0 6px 6px;
}
.card.clsForecastActualProd .card-header {
    background-color: #0054a0;
    height: 61px;
    padding: 0rem 0.3rem 0 0.5rem;
    border-radius: 6px 6px 0 0;
}
.card.clsForecastActualProd .card-header h5.clsFieldNameHeader {
    margin: 2px 0 1px;
    font-size: 1rem;
    font-family: robotomedium;
    line-height: initial;
    color: #BFDAF3;
    text-transform: uppercase;
}
.clsActualValueSec{
    font-size: 1.375rem;
    font-family: roboto; 
    line-height: 1rem;
}
.card.clsForecastActualProd .card-header .clsRightFunctionIcons a {
    color: #BFDAF3!important;
    line-height: inherit;
    vertical-align: top;
}
.card.clsForecastActualProd .card-header .clsRightFunctionIcons i {
    font-size:1.25rem!important;
    padding:0px!important;
    line-height: initial!important;
}
.card.clsForecastActualProd .card-header .clsRightFunctionIcons a:hover i {
    color: #75afe4!important;
}
.clsForecastDiffContainer{
    line-height: 16px;
}
.clsForecastDiffContainer span{
    font-family: roboto;
    font-size: 0.825rem;
    color: #fff;
}
.clsForecastDiffContainer span.clsFieldValue{
    color:#B9BFC4;
}
.clsDiffSec i{
    vertical-align: top;
    margin-top: -6px;
}
.clsActualValueSec.loss,.clsDiffSec span.loss i{
    color: #ff3e3ef7;
    text-shadow: 1px 1px 1px #4427277a;
}
.clsActualValueSec.profit,.clsDiffSec span.profit i{
    color: #48dc30;
    text-shadow: 1px 1px 1px #062d006e; 
}
.clsForecastActualKPI ipso-chart .card-block {
    min-height: 120px;
    height: 100%;
}

ipso-chart header {
    height: auto;
}