.input-field {
    position: relative !important;
    margin-top: 1rem !important;
    width: 200px !important;
}
.myclass{
    background-color : transparent;
}

.btn, .btn-sm {
    padding: 0.3rem 0.5rem;
    font-family: roboto;
    border-radius: 38px;
    border: 0px solid transparent;
    cursor: pointer;
}